@ECHO OFF
SETLOCAL
title Scheduler VERSION STOP
FOR /F "TOKENS=2 DELIMS=," %%I IN ('tasklist /v /fo csv ^| find /i "{{ scheduler_window_title | default('Scheduler VERSION') }}"') DO {{ tools_path }}\\PSTools\\pskill.exe -t -accepteula -nobanner %%I
ENDLOCAL