;;;; FICHERO DE CONFIGURACION DE PRECARGAS DAOS TARSID ;;;;


[Agencias]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ParametrosAgencias]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[Sucursales]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1


[Temporadas]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[TiposImpuestos]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[TiposImpuestosRegionesFiscalesTemporadas]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ZonasOrden]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ImportesGlobales]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ImportesGlobalesTemporadas]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ConfiguracionImportesConceptosLiquidacionAutomaticos]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[ConfiguracionConceptosLiquidacionAutomaticos]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[TarifasExternas]
Descripcion = 'Una vez al día (12.00)'
Hora = '1200'
Frecuencia = 24
Activo = 1