;;;; FICHERO DE CONFIGURACION DE TARSID ;;;;

[CONFIGURACION]
NOMBREDAEMON = TAR_{{ ansible_hostname }}_01
NOMBREPC = {{ ansible_hostname }}
PUERTOESCUCHA = 9004

[PROCESOTAR]
; EL TIPO DE PROCESAMIENTO PUEDE SER SERIE/PARALELO
TIPOPROCESAMIENTO = PARALELO
MAXREINTENTOSPROCESO = 5
TIEMPOENTRECHEQUEO = 150
TIMEOUTPROCESO = 120000
TIMEOUTTOTALPROCESOS = 120000

[SERVIDORTAR]
IPSERVIDOR = LOCALHOST
;NOMBREBD = BDSIGGER
NOMBREBD = BDSIGGER
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 300
NUMMAXCONEXIONESPOOL = 600

[SERVIDORLOGSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDCONFIGURACIONSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\ProveedorBDConfiguracionSIS\logProveedorBDConfiguracionSIS

[SERVIDORBRIDGEUNO]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[SERVIDORSIGGER]
IPSERVIDOR = LOCALHOST
;NOMBREBD = BDSIGGER
NOMBREBD = BDSIGGER
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=1
NUMMAXCONEXIONESPOOL=1
NOMBRELOG=Logs\ProveedorBDSIGGER\logProveedorBDSIGGER