{{ ssl_certs_privkey_data | default('
-----BEGIN PRIVATE KEY-----
MIG2AgEAMBAGByqGSM49AgEGBSuBBAAiBIGeMIGbAgEBBDCHW2BAfpvmWi5jdIZx
3dXd8E+K/60lrpF59kFrsSZDW8ba6mmcCo3IT8pvAQIH3XChZANiAASIxdAWit5k
WwnzI3npk0pRoizKVWjGcaV1Dg5sqo5Pf0EtAqZTJkMM47ehsckBt8mQf9hwbeLj
3DZl2l/XFPPHQh3wVq2bFYZLI+9PWQwJAwBHgXFfWvtQxzB5JFmpDHg=
-----END PRIVATE KEY-----') }}
