{{ ssl_certs_cert_data | default('
-----BEGIN CERTIFICATE-----
MIICPTCCAcKgAwIBAgIJALn5Kb82V990MAoGCCqGSM49BAMCMFwxCzAJBgNVBAYT
AkVTMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRn
aXRzIFB0eSBMdGQxFTATBgNVBAMMDCouZ29sZGNhci5lczAeFw0xNzA5MDcxMTE5
MjRaFw0yNzA5MDUxMTE5MjRaMFwxCzAJBgNVBAYTAkVTMRMwEQYDVQQIDApTb21l
LVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQxFTATBgNV
BAMMDCouZ29sZGNhci5lczB2MBAGByqGSM49AgEGBSuBBAAiA2IABIjF0BaK3mRb
CfMjeemTSlGiLMpVaMZxpXUODmyqjk9/QS0CplMmQwzjt6GxyQG3yZB/2HBt4uPc
NmXaX9cU88dCHfBWrZsVhksj709ZDAkDAEeBcV9a+1DHMHkkWakMeKNQME4wHQYD
VR0OBBYEFIYpb8Wswx7r+29plKpzvpTeE0KiMB8GA1UdIwQYMBaAFIYpb8Wswx7r
+29plKpzvpTeE0KiMAwGA1UdEwQFMAMBAf8wCgYIKoZIzj0EAwIDaQAwZgIxAKoa
yEKWBQu1VxP6K+rybnJwvKw5G/vu6L7VIAKoaOrPqmjwjpCNFMgQIfOJ42rtbQIx
AIoWtdWY0ww8+TC7wXOonyYM3zeIc6i/CIyuqaKRwW0NVG8q+VuZXelymY/fh5i8
DA==
-----END CERTIFICATE-----') }}