[Unit]
Description=Kafka Daemon
Wants=syslog.target

[Service]
Type=forking
WorkingDirectory=/opt/kafka
User=root
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target