[Unit]
Description=Zookeeper Daemon
Wants=syslog.target

[Service]
Type=forking
WorkingDirectory=/opt/zookeeper
User=root
ExecStart=/opt/zookeeper/bin/zkServer.sh start
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
