<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://_SERVIDOR_;databaseName=_BASE DATOS_;user=_USUARIO_;password=_PASSWORD_</property>
		<property name="hibernate.connection.username">_USUARIO_</property>
		<property name="hibernate.connection.password">_PASSWORD_</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<mapping class="es.goldcar.microservice.domain.VehiculosFlota" />
		<mapping
			class="es.goldcar.microservice.domain.ParametroGestionRecompraVehiculo" />
		<mapping
				class="es.goldcar.microservice.domain.HistorialComunicaciones" />
		<mapping class="es.goldcar.microservice.domain.Peritacion" />
	    <mapping class="es.goldcar.microservice.domain.TipoPeritacion" />
		<mapping class="es.goldcar.microservice.domain.BloqueoVehiculoPeritacion" />
	</session-factory>
</hibernate-configuration>