@ECHO OFF
SETLOCAL
title WEB VERSION STOP
FOR /F "TOKENS=2 DELIMS=," %%I IN ('tasklist /v /fo csv ^| find /i "{{ pricing_web_window_title | default('WEB VERSION') }}"') DO {{ tools_path }}\\PSTools\\pskill.exe -t -accepteula -nobanner %%I
ENDLOCAL