;;;; FICHERO DE CONFIGURACION DE PRECARGAS DAOS SARSISD ;;;;


[Agencias]
Descripcion = 'Una vez al día (03.00)'
Hora = '0300'
Frecuencia = 24
Activo = 1

[AgenciasAuthentication]
Descripcion = 'Una vez al día (03.05)'
Hora = '0305'
Frecuencia = 24
Activo = 1

[AperturaSucursales]
Descripcion = 'Una vez al día (04.30)'
Hora = '0307'
Frecuencia = 24
Activo = 1

[CierreSucursales]
Descripcion = 'Una vez al día (03.10)'
Hora = '0310'
Frecuencia = 24
Activo = 1

[CategoriasGrupos]
Descripcion = 'Una vez al día (03.12)'
Hora = '0312'
Frecuencia = 24
Activo = 1

[ConfiguracionGruposEspecialesVehiculos]
Descripcion = 'Una vez al día (03.15)'
Hora = '0315'
Frecuencia = 24
Activo = 1

[DisponibilidadGruposSucursales]
Descripcion = 'Una vez al día (03.20)'
Hora = '0320'
Frecuencia = 24
Activo = 1

[DisponibilidadSucursales]
Descripcion = 'Una vez al día (03.25)'
Hora = '0325'
Frecuencia = 24
Activo = 1

[Grupos]
Descripcion = 'Una vez al día (03.30)'
Hora = '0330'
Frecuencia = 24
Activo = 1

[MarcasModelos]
Descripcion = 'Una vez al día (03.35)'
Hora = '0335'
Frecuencia = 24
Activo = 1

[MarcasYModelos]
Descripcion = 'Una vez al día (03.40)'
Hora = '0340'
Frecuencia = 24
Activo = 1

[Modelos]
Descripcion = 'Una vez al día (03.45)'
Hora = '0345'
Frecuencia = 24
Activo = 1

[Paises]
Descripcion = 'Una vez a la semana (03.50)'
Hora = '0350'
Frecuencia = 168
Activo = 1

[Sucursales]
Descripcion = 'Una vez al día (03.55)'
Hora = '0355'
Frecuencia = 24
Activo = 1

[TiposImpuestos]
Descripcion = 'Una vez al día (04.00)'
Hora = '0400'
Frecuencia = 24
Activo = 1

[TiposImpuestosPrimitivos]
Descripcion = 'Una vez al día (04.05)'
Hora = '0405'
Frecuencia = 24
Activo = 1

[TiposImpuestosRegionesFiscalesTemporadas]
Descripcion = 'Una vez al día (04.10)'
Hora = '0410'
Frecuencia = 24
Activo = 1

[TiposIncidenciaReservas]
Descripcion = 'Una vez al día (04.15)'
Hora = '0415'
Frecuencia = 24
Activo = 1

[Zonas]
Descripcion = 'Una vez al día (04.20)'
Hora = '0420'
Frecuencia = 24
Activo = 1

[ZonasOrden]
Descripcion = 'Una vez al día (04.25)'
Hora = '0425'
Frecuencia = 24
Activo = 1

[AgenciasCalculoCAS]
Descripcion = 'Una vez al día (04.30)'
Hora = '0430'
Frecuencia = 24
Activo = 1

[ZonasCalculoCAS]
Descripcion = 'Una vez al día (04.35)'
Hora = '0435'
Frecuencia = 24
Activo = 1