;;;; FICHERO DE CONFIGURACION DE SARSISWEBSERVER ;;;;

[CONFIGURACION]
NOMBREDAEMON = SARSISD_{{ ansible_hostname }}_01
NOMBREEJECUTABLE = SARSISDWebServer.exe
NOMBREPC = {{ ansible_hostname }}
PASSWORDOPENSSL = '{{ sarsisd_openssl_pass | default(openssl_pass) }}'
RUTACERTIFICADORAIZ = '{{ project_installation_dest }}\current\certificados\CA_cert.pem'
RUTACERTIFICADO = '{{ project_installation_dest }}\current\certificados\rentalcar-sarsis.cert'
RUTAKEY = '{{ project_installation_dest }}\current\certificados\Cert_PrivateKey.pem'
PUERTOESCUCHAHTTP = {{ service_port }}
PUERTOESCUCHAHTTPS = {{ service_secure_port }}
NOMBRELOG=Logs\logSARSISDWebServer
RUTAFICHEROSXSD = '{{ project_installation_dest }}\current\'

[CONFIGURACIONSOCKET]
NUMREINTENTOSCONEXION = 6
NUMREINTENTOSESCRITURA = 6
NUMREINTENTOSLECTURA = 600
TIEMPOENTREREINTENTOSLECTURA = 200
TIEMPOVENTANAEJECUCION = 2400000

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDCONFIGURACIONSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=10
NOMBRELOG=Logs\ProveedorBDConfiguracionSIS\logProveedorBDConfiguracionSIS

[SERVIDORLOGSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=20
NUMMAXCONEXIONESPOOL=40
NOMBRELOG=Logs\ProveedorBDLogSIS\logProveedorBDLogSIS

[SERVIDORSARSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDSARSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=10
NOMBRELOG=Logs\ProveedorBDSARSIS\logProveedorBDSARSIS

[SERVIDORSIGGER]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDSIGGER
;NOMBREBD = BDSIGGER
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=10
NOMBRELOG=Logs\ProveedorBDSIGGER\logProveedorBDSIGGER

[SERVIDORSIGGERSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDSIGGER
;NOMBREBD = BDSIGGER
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=10
NOMBRELOG=Logs\ProveedorBDSIGGERSIS\logProveedorBDSIGGERSIS

[CONFIGURACIONFACTORIAS]
;LOGIN
;PASSWORD
NUMCONEXIONESPOOL=5
NUMMAXCONEXIONESPOOL=10

[PROCESOCDVTAR]
ESTRATEGIACDV=PARALELO
ESTRATEGIATAR=PARALELO
MAXREINTENTOSPROESO=6
TIEMPOENTRECHEQUEO=1
TIMEOUTPROCESO=7000
TIMEOUTTOTALPROCESOS=20000

[CONFIGURACIONTED]
PUERTO=9005
IP=localhost

[SERVIDORBRIDGEUNO]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[CONFIGURACIONREENVIOSOCKETTAR]
IPREENVIOSOCKETTAR=LOCALHOST
PUERTOREENVIOSOCKETTAR=9004
