[CONF_GALA]
GuardarXML={{ galawsd_guardarxml | default('0') }}
NombreBaseDatos={{ galawsd_database | default('localhost') }}
NombreServidorCentral={{ galawsd_servidor_central | default('localhost') }}