;;;; FICHERO DE CONFIGURACION DE CDVSID ;;;;

[CONFIGURACION]
NOMBREDAEMON = CDV_{{ ansible_hostname }}_01
NOMBREPC = {{ ansible_hostname }}
PUERTOESCUCHA = 9003

[PROCESOCDV]
; EL TIPO DE PROCESAMIENTO PUEDE SER SERIE/PARALELO
TIPOPROCESAMIENTO = PARALELO
MAXREINTENTOSPROCESO = 5
TIEMPOENTRECHEQUEO = 20
TIMEOUTPROCESO = 100000
TIMEOUTTOTALPROCESOS = 120000

[SERVIDORCDV]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDSIGGER
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORLOGSIS]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 50
NUMMAXCONEXIONESPOOL = 100

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = localhost
NOMBREBD = BDCONFIGURACIONSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=100
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\ProveedorBDConfiguracionSIS\logProveedorBDConfiguracionSIS

[SERVIDORBRIDGEUNO]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR=LOCALHOST
NOMBREBD=BDConfiguracionBridgeSAR

[SERVIDORSIGGER]
IPSERVIDOR = LOCALHOST
NOMBREBD = BDSIGGER
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=1
NUMMAXCONEXIONESPOOL=1
NOMBRELOG=Logs\ProveedorBDSIGGER\logProveedorBDSIGGER